.img-eca{
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
}

ion-card-title{
    color: rgba(5, 97, 104, 0.938);
}

.forget{
    text-transform: initial;
}

.headerr{
    background-color: rgba(0, 0, 0, 0.048);;
}

.img-duoc{
    width: 110px;
    height: 50px;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.centrar{
    text-align: center;
}

.log-btn{
    background-color: rgba(14, 158, 168, 0.767);
    color: azure;
}

.reg-btn{
    margin-top: 5%;
    background-color: rgb(99, 100, 107);
    color: azure;
}
